
/* Customize Table Layout*/
/*----------------------------------*/
th#book_id{
	width: 50px;
}
th#bkd_total_amount{
	width: 90px;
}

tbody#the-list{
	
}   
	tbody#the-list tr td.bkd_total_amount{
		text-align: right;
	} 